# Node.js
node_modules/

# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build outputs
dist/
build/

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Misc
*.swp

# credentials
*.json

# Temporary files
*.tmp
*.bak
tests/audio/
tests/images/
